* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

ul {
    list-style-type: none;
}

html {
    display: flex;
    justify-content: center;
    background-color: #2E2A47;
}

body {
    background-color: #4A4266;
    color: #E8E5D6;
    width: 50vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.button {
    background-color: #815AC0;
    padding: 10px 20px;
    border-radius: 1.5em;
    box-shadow: 4px 6px #2E2A47;
    font-weight: 600;
    font-size: 0.9em;
    color: #E8E5D6;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
}


.home-title {
    font-size: 2.7em;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    width: 0 auto;
}

.description p {
    padding: 5em;
    width: 0 auto;
}


.hours {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.hours h2 {
    font-size: 2.4em;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 80px;
}

.location h2 {
    font-size: 1.5em;
}